body {
    background: white;
    color: #373a3c;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    text-rendering: optimizeLegibility;
}

h1 {
  color: #ff5851;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 175px;
}

h2 {
  color: #373a3c;
  font-weight: bold;
  font-size: 50px;
}

h3 {
  color: #373a3c;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h4 {
  color: #ff5851;
  font-weight: bold;
  font-size: 75px;
}

h5 {
  color: #373a3c;
  font-weight: lighter;
  font-size: 15px;
}


h1 span {
color: #373a3c;
}

h4 span {
color: #373a3c;
}

.container {
  width: 1400px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
  h1 {
  color: #ff5851;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 120px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  h1 {
  color: #ff5851;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 60px;
  }
  h2 {
  color: #373a3c;
  font-weight: bold;
  font-size: 35px;
}
}

.footer {
  font-weight: bold;
  font-size: 60px;
  color: black;
  background-color: #f8f8f8;
  padding: 35px;
  border-radius: 4px;
  margin: 50px 50px;
  text-align: center;
  height: 600px
}

.btn_blue {
  background-color: #373a3c;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
}

.btn_blue:hover {
  background-color: #ff5851;
  color: white;
}

.card_white {
  background-color: white;
  padding:100px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 50px 50px;
  text-align: center;
}

.card_first {
  background-color: #f8f8f8;
  padding:100px;
  border-radius: 4px;
  margin: 50px 50px;
  text-align: center;
}

.picture {
  width: 600px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list_inline > li {
  display: inline;
  font-size: 50px;
  padding: 0px 0px;
}

.list_inline i {
  color: black;
}

.list_inline i:hover {
  color: #ff5851;
}

.align_blocs {
  display: table-cell;
  padding:20px;
}
